In [62]:
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv()

CSVPATH = os.getenv("CSVPATH")

if not CSVPATH:
    raise ValueError("Переменная окружения CSVPATH не найдена")

csv_files = [
        "ft_balance_f.csv",
        "ft_posting_f.csv",
        "md_account_d.csv",
        "md_currency_d.csv",
        "md_exchange_rate_d.csv",
        "md_ledger_account_s.csv",
    ]
# data = pd.read_csv(csv_files[0], parse_dates=True, delimiter=';')
datasets = {}
for filename in csv_files:
    encoding = 'utf-8'
    if 'md_currency_d.csv' in filename:
        encoding = 'cp1252'
    data = pd.read_csv(os.path.join(CSVPATH, filename), parse_dates=True, delimiter=';', encoding=encoding)
    datasets[filename] = data

In [63]:
display(datasets[csv_files[0]])

        ON_DATE  ACCOUNT_RK  CURRENCY_RK  BALANCE_OUT
0    31.12.2017    36237725           35     38318.13
1    31.12.2017       24656           35     80533.62
2    31.12.2017    18849846           34     63891.96
3    31.12.2017     1972647           34   5087732.10
4    31.12.2017    34157174           34   7097806.90
..          ...         ...          ...          ...
109  31.12.2017    15986696           42     98539.32
110  31.12.2017       18007           34     58966.57
111  31.12.2017       44195           44      3818.77
112  31.12.2017   131824186           34    100000.00
113  31.12.2017   331483502           34   5000000.00

[114 rows x 4 columns]

In [66]:
display(datasets[csv_files[1]])

,DATA_ACTUAL_DATE,DATA_ACTUAL_END_DATE,ACCOUNT_RK,ACCOUNT_NUMBER,CHAR_TYPE,CURRENCY_RK,CURRENCY_CODE
0,2018-01-01,2018-01-31,36237725,30425840700000583001,А,35,840
1,2018-01-01,2018-01-31,24656,30114840700000770002,А,35,840
2,2018-01-01,2018-01-31,18849846,30109810500000435003,П,34,643
3,2018-01-01,2018-01-31,1972647,30111810700000908001,П,34,643
4,2018-01-01,2018-01-31,34157174,30424810100000583001,А,34,643
...,...,...,...,...,...,...,...
107,2018-01-01,2018-01-31,13872,30221978900000004100,А,44,978
108,2018-01-01,2018-01-31,23329,30220949900000004059,П,21,949
109,2018-01-01,2018-01-31,15986696,30220124900000000001,П,42,124
110,2018-01-01,2018-01-31,18007,30233810900450003001,А,34,810
111,2018-01-01,2018-01-31,44195,30233978100450003002,А,44,978

In [43]:
display(datasets[csv_files[2]])

,DATA_ACTUAL_DATE,DATA_ACTUAL_END_DATE,ACCOUNT_RK,ACCOUNT_NUMBER,CHAR_TYPE,CURRENCY_RK,CURRENCY_CODE
0,2018-01-01,2018-01-31,36237725,30425840700000583001,А,35,840
1,2018-01-01,2018-01-31,24656,30114840700000770002,А,35,840
2,2018-01-01,2018-01-31,18849846,30109810500000435003,П,34,643
3,2018-01-01,2018-01-31,1972647,30111810700000908001,П,34,643
4,2018-01-01,2018-01-31,34157174,30424810100000583001,А,34,643
...,...,...,...,...,...,...,...
107,2018-01-01,2018-01-31,13872,30221978900000004100,А,44,978
108,2018-01-01,2018-01-31,23329,30220949900000004059,П,21,949
109,2018-01-01,2018-01-31,15986696,30220124900000000001,П,42,124
110,2018-01-01,2018-01-31,18007,30233810900450003001,А,34,810
111,2018-01-01,2018-01-31,44195,30233978100450003002,А,44,978

In [42]:
display(datasets[csv_files[3]])

,CURRENCY_RK,DATA_ACTUAL_DATE,DATA_ACTUAL_END_DATE,CURRENCY_CODE,CODE_ISO_CHAR
0,4586704,2011-09-06,2050-12-31,0.0,NON
1,50,2017-05-11,2050-12-31,356.0,INR
2,51,2017-05-11,2050-12-31,484.0,MXN
3,52,2017-05-11,2050-12-31,434.0,LYD
4,53,2017-05-11,2050-12-31,422.0,LBR
5,54,2017-05-11,2050-12-31,504.0,MAD
6,55,2017-05-11,2050-12-31,410.0,KRW
7,56,2017-05-11,2050-12-31,12.0,DZD
8,57,2017-05-11,2050-12-31,417.0,KGS
9,58,2017-05-11,2050-12-31,100.0,BGN
10,59,2017-05-11,2050-12-31,344.0,HKD
11,60,2017-05-11,2050-12-31,48.0,BHD
12,61,2017-05-11,2050-12-31,446.0,MOP
13,62,2017-05-11,2050-12-31,156.0,CNY
14,63,2017-05-11,2050-12-31,496.0,MNT
15,205699733,2017-05-11,2050-12-31,203.0,CZK
16,205699734,2017-05-11,2050-12-31,348.0,HUF
17,409611215,2017-05-11,2050-12-31,972.0,TJS
18,427870281,2017-05-11,2050-12-31,933.0,BYN
19,21,2017-05-11,2050-12-31,949.0,TRY
20,22,2017-05-11,2050-12-31,788.0,TND
21,23,2017-05-11,2050-12-31,292.0,GIB
22,24,2017-05-11,2050-12-31,784.0,AED
23,25,2017-05-11,2050-12-31,986.0,BRL
24,26,2017-05-11,2050-12-31,NaN,NaN
25,27,2017-05-11,2050-12-31,586.0,PKR
26,28,2017-05-11,2050-12-31,398.0,KZT
27,29,2017-05-11,2050-12-31,752.0,SEK
28,30,2017-05-11,2050-12-31,756.0,CHF
29,31,2017-05-11,2050-12-31,826.0,GBP
30,32,2017-05-11,2050-12-31,280.0,DEM
31,33,2017-05-11,2050-12-31,999.0,˜
32,34,2017-05-11,2050-12-31,643.0,RUB
33,35,2017-05-11,2050-12-31,840.0,USD
34,36,2017-05-11,2050-12-31,985.0,PLN
35,37,2017-05-11,2050-12-31,392.0,JPY
36,38,2017-05-11,2050-12-31,974.0,BYR
37,39,2017-05-11,2050-12-31,36.0,AUD
38,40,2017-05-11,2050-12-31,578.0,NOK
39,41,2017-05-11,2050-12-31,980.0,UAH
40,42,2017-05-11,2050-12-31,124.0,CAD
41,43,2017-05-11,2050-12-31,208.0,DKK
42,44,2017-05-11,2050-12-31,978.0,EUR
43,45,2017-05-11,2050-12-31,196.0,CYP
44,46,2017-05-11,2050-12-31,44.0,BHS
45,47,2017-05-11,2050-12-31,376.0,ILS
46,48,2017-05-11,2050-12-31,84.0,BZD
47,49,2017-05-11,2050-12-31,690.0,SCR
48,529511970,2017-12-12,2050-12-31,944.0,AZN
49,529511969,2017-12-12,2050-12-31,51.0,AMD

In [41]:
display(datasets[csv_files[4]])

,DATA_ACTUAL_DATE,DATA_ACTUAL_END_DATE,CURRENCY_RK,REDUCED_COURCE,CODE_ISO_NUM
0,2016-07-01,2050-12-31,38,31.888400,974
1,2018-01-31,2018-01-31,427870281,28.379800,933
2,2018-01-31,2018-01-31,29,7.116130,752
3,2018-01-31,2018-01-31,529511970,33.054300,944
4,2018-01-31,2018-01-31,62,8.875550,156
...,...,...,...,...,...
887,2017-12-30,2018-01-09,205699734,0.222052,348
888,2017-12-30,2018-01-09,205699733,2.693050,203
889,2017-12-30,2018-01-09,529511969,0.119009,51
890,2017-12-30,2018-01-09,529511970,33.822800,944
891,2017-12-30,2018-01-09,25,17.388700,986

In [40]:
display(datasets[csv_files[5]])

,CHAPTER,CHAPTER_NAME,SECTION_NUMBER,SECTION_NAME,SUBSECTION_NAME,LEDGER1_ACCOUNT,LEDGER1_ACCOUNT_NAME,LEDGER_ACCOUNT,LEDGER_ACCOUNT_NAME,CHARACTERISTIC,START_DATE,END_DATE
0,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30204,Обязательные резервы кредитных организаций по ...,А,2014-01-01,2050-12-31
1,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,301,Корреспондентские счета,30109,Корреспондентские счета кредитных организаций ...,П,2008-01-01,2050-12-31
2,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,301,Корреспондентские счета,30110,Корреспондентские счета в кредитных организаци...,А,2008-01-01,2050-12-31
3,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,301,Корреспондентские счета,30111,Корреспондентские счета банков- нерезидентов,П,2008-01-01,2050-12-31
4,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,301,Корреспондентские счета,30126,Резервы на возможные потери,П,2008-01-01,2050-12-31
5,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30223,Незавершенные переводы и расчеты по банковским...,П,2008-01-01,2050-12-31
6,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30236,"Незавершенные переводы, поступившие от платежн...",П,2013-01-01,2050-12-31
7,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,304,Счета для осуществления клиринга,30413,Средства на торговых банковских счетах,А,2013-01-01,2050-12-31
8,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,304,Счета для осуществления клиринга,30424,"Средства в клиринговых организациях, предназна...",А,2016-01-01,2050-12-31
9,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,301,Корреспондентские счета,30114,Корреспондентские счета в банках- нерезидентах,А,2008-01-01,2050-12-31
10,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30220,"Незавершенные переводы денежных средств, списа...",П,2008-01-01,2050-12-31
11,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30221,Незавершенные переводы и расчеты кредитной орг...,А,2008-01-01,2050-12-31
12,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30232,Незавершенные расчеты с операторами услуг плат...,П,2014-01-01,2050-12-31
13,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30222,Незавершенные переводы и расчеты кредитной орг...,П,2008-01-01,2050-12-31
14,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,304,Счета для осуществления клиринга,30425,"Средства в клиринговых организациях, предназна...",А,2013-01-01,2050-12-31
15,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,301,Корреспондентские счета,30102,Корреспондентские счета кредитных организаций ...,А,2008-01-01,2050-12-31
16,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30202,Обязательные резервы кредитных организаций по ...,А,2014-01-01,2050-12-31
17,А,Балансовые счета,3,МЕЖБАНКОВСКИЕ ОПЕРАЦИИ,МЕЖБАНКОВСКИЕ РАСЧЕТЫ,302,Счета кредитных организаций по другим операциям,30233,Незавершенные расчеты с операторами услуг плат...,А,2014-01-01,2050-12-31